    <div id="left" style="background:#f0f9fd;width: 187px;position: absolute; left: 0;top:0; z-index: 10;">
        <div class="lefttop"><span></span>管理面板</div>

        <dl class="leftmenu">

            <dd>
                <div class="title">
                    <span><img src="/admin/images/leftico01.png"/></span>管理信息
                </div>
                <ul class="menuson">
                    <li {% if module_name=="index" %}class="active"{% end %}><cite></cite><a href="/admin/index/" >首页模版</a><i></i></li>
                    <li {% if module_name=="posts" %}class="active"{% end %}><cite></cite><a href="/admin/posts/manage/" >帖子管理</a><i></i></li>
                    <li {% if module_name=="img_table" %}class="active"{% end %}><cite></cite><a href="/admin/images/manage/" >图片管理</a><i></i></li>
                    <li {% if module_name=="form" %}class="active"{% end %}><cite></cite><a href="/admin/form/" >添加编辑</a><i></i></li>
                    <li {% if module_name=="img_list" %}class="active"{% end %}><cite></cite><a href="/admin/imagelist/" >图片列表</a><i></i></li>
                    <li {% if module_name=="self_def" %}class="active"{% end %}><cite></cite><a href="/admin/self_def/" >自定义</a><i></i></li>
                    <li {% if module_name=="tools" %}class="active"{% end %}><cite></cite><a href="/admin/tools/" >常用工具</a><i></i></li>
                    <li {% if module_name=="files" %}class="active"{% end %}><cite></cite><a href="/admin/files/" >文件管理</a><i></i></li>
                    <li {% if module_name=="tab" %}class="active"{% end %}><cite></cite><a href="/admin/tab/" >Tab页</a><i></i></li>
                    <li {% if module_name=="page_404" %}class="active"{% end %}><cite></cite><a href="/admin/error_page/" >404页面</a><i></i></li>
                </ul>
            </dd>


            <dd>
                <div class="title">
                    <span><img src="/admin/images/leftico02.png"/></span>其他设置
                </div>
                <ul class="menuson">
                    <li {% if module_name=="edit_content" %}class="active"{% end %}><cite></cite><a href="#">编辑内容</a><i></i></li>
                    <li {% if module_name=="post_message" %}class="active"{% end %}><cite></cite><a href="#">发布信息</a><i></i></li>
                    <li {% if module_name=="img_list" %}class="active"{% end %}><cite></cite><a href="#">档案列表显示</a><i></i></li>
                </ul>
            </dd>


            <dd>
                <div class="title"><span><img src="/admin/images/leftico03.png"/></span>编辑器</div>
                <ul class="menuson">
                    <li {% if module_name=="img_list" %}class="active"{% end %}><cite></cite><a href="#">自定义</a><i></i></li>
                    <li {% if module_name=="img_list" %}class="active"{% end %}><cite></cite><a href="#">常用资料</a><i></i></li>
                    <li {% if module_name=="img_list" %}class="active"{% end %}><cite></cite><a href="#">信息列表</a><i></i></li>
                    <li {% if module_name=="img_list" %}class="active"{% end %}><cite></cite><a href="#">其他</a><i></i></li>
                </ul>
            </dd>


            <dd>
                <div class="title"><span><img src="/admin/images/leftico04.png"/></span>日期管理</div>
                <ul class="menuson">
                    <li {% if module_name=="img_list" %}class="active"{% end %}><cite></cite><a href="#">自定义</a><i></i></li>
                    <li {% if module_name=="img_list" %}class="active"{% end %}><cite></cite><a href="#">常用资料</a><i></i></li>
                    <li {% if module_name=="img_list" %}class="active"{% end %}><cite></cite><a href="#">信息列表</a><i></i></li>
                    <li {% if module_name=="img_list" %}class="active"{% end %}><cite></cite><a href="#">其他</a><i></i></li>
                </ul>

            </dd>

        </dl>
    </div>