
.a-login-box { width:660px; margin:0 auto; border:1px solid #b3b3b3; border-radius:3px; }
.a-login-box .mod-body { padding:50px 70px; }
.a-login-box h1 { font-size:22px; margin:10px 0 30px 0; }

.form-hint-error { margin:8px 0; color:red; }


.box-filter { padding:10px; border-top:1px solid #f4f4f4; margin-top:8px; }
.box-filter .filter-section-wrapper {  }
.box-filter .filter-section-wrapper li { list-style:outside none none; }
.box-filter .filter-label-list { padding-bottom:8px; margin-bottom:8px; border-bottom:1px solid #f4f4f4; }
.box-filter .filter-label { width:60px; float:left; text-align:right; line-height:30px; }
.box-filter .filter-list { padding-left:70px; line-height:30px; margin-bottom:0; }
.box-filter .filter-list .item { display:inline-block; margin:4px 16px 4px 0; line-height:22px; }
.box-filter .filter-list .item a { display:block; padding:0 4px; height:22px; }
.box-filter .filter-list .item a:hover { border-radius:2px; background-color:#2bb8aa; color:#fff; }
.box-filter .filter-list .current a { border-radius:2px; background-color:#2bb8aa; color:#fff; }
.box-filter .filter-list .current a:hover { color:#fff; }

.img-edit-box { float:left; margin:5px 0 10px 0; width:120px; text-align:center; }
img.main-pic { border:1px solid #aa0000; }


label.form-value { font-weight: normal; margin-right: 10px; }


.navbar-nav li.active a { background-color: #357ca5; }

.main-header .logo { width: 280px; }
.main-header .logo b { font-weight: 500; }
.main-header .navbar { margin-left: 280px; }

.main-sidebar { width: 180px; }

.content-wrapper, .right-side, .main-footer { margin-left: 180px; }

.login-logo, .register-logo { font-size: 32px; }


.table input.sort-index { width:100px; }



