{% extends "../base.html" %}

{% block title %}收藏的帖子 - AI爱好者官方论坛{% end %}

{% block head %}
<link rel="stylesheet" type="text/css" href='/home/css/user/collect.css?v=7'>
<script type="text/javascript" src='/home/js/user/msgnav.js'></script>
{% end %}
{% block content %}
<div class='container_wrap wrap_990 clearfix'>
    <div class='container_wrap wrap_990 clearfix'>
        <div class='collect_wrap clearfix'>
            <div class='contain_left'>
                <div class='left_wrap'>
                    <div class="nav_menu">
                        <h4>收藏</h4>
                        <div class="nav_label"><span></span></div>
                        <ul class="menu">
                            <li class="menu_item current"><a href="/user/posts_collected/">收藏的帖子</a></li>
                            <li class="menu_item"><a href="/user/module_followed/">关注的版块</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class='contain_right'>
                <div class='session'>
                    <div class='theme'>
                        <div class='theme_con'>
                            <div class='theme_nav'>
                                收藏帖子 <span class='num'>1</span>
                            </div>
                            <p><span class='th1'>帖子</span><span class='th2'>版块</span><span class='th2'>查看/回复</span>
                            </p>
                            <div class='theme_con_index current'>
                                <ul>
                                    <li>
                                        <div class='theme_list_con'>
                                            <div class='title'>
                                                <a href="/thread/index/tid/13799268" class='title_name txtellipsis'
                                                   target="_blank" rel="noopener noreferrer">
                                                    <span class="info">红米5A发布：轻巧长续航神机，打造千万级4G+新品</span></a>
                                            </div>
                                            <span class='plate'>红米5A/4X</span>
                                            <span class='num'>88791／1511</span>
                                            <span class='btn del' data-id='13799268'
                                                  data-token='c86390fe38fb770fec68fcab66fb5c33'>删除</span>
                                        </div>
                                    </li>
                                </ul>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src='/home/css/user/collect.js'></script>
</div>
{% end %}

