{% extends base.html %}

{% block title %}查看帖子{% end %}

{% block head %}
<link rel="stylesheet" type="text/css" href='/home/css/cn_index_v2.css?v=1'>
<link rel="stylesheet" type="text/css" href='/home/css/default_v3.min.css?v=1'>
<script type="text/javascript" src="/home/js/comm.min.js"></script>
<script type="text/javascript" src="/home/js/jquery.sgallery.js"></script>
{% end %}

{% block content %}
<!-- main start -->
<div class="content_main">
    <div class="banner box">
    </div>
    <!--幻灯片-->
    <div class="slider box">
        <div class="xm-slider" id="J_homeSlider">
            <div class="slide"><a href="//bbs.xiaomi.cn/t-13814037" target="_blank"><img alt="““APP””"
                                                                                         src="//cdn.cnbj0.fds.api.mi-img.com/b2c-bbs-cms/2017/1019/20171019103833431.jpg"
                                                                                         style="height: 350px; width: 960px"/>
            </a></div>
            <div class="slide"><a href="//bbs.xiaomi.cn/t-13799268" target="_blank"><img alt="““APP””"
                                                                                         src="//cdn.cnbj0.fds.api.mi-img.com/b2c-bbs-cms/2017/1016/20171016034024318.jpg"
                                                                                         style="height: 350px; width: 960px"/>
            </a></div>
            <div class="slide"><a href="//bbs.xiaomi.cn/t-13814126" target="_blank"><img alt="““APP””"
                                                                                         src="//cdn.cnbj0.fds.api.mi-img.com/b2c-bbs-cms/2017/1019/20171019030950239.jpg"
                                                                                         style="height: 350px; width: 960px"/>
            </a></div>
            <div class="slide"><a href="//wan.xiaomi.cn/activity/detail/activity_id/123" target="_blank"><img
                    alt="““APP””" src="//cdn.cnbj0.fds.api.mi-img.com/b2c-bbs-cms/2017/1019/20171019115303948.jpg"
                    style="height: 350px; width: 960px"/> </a></div>
        </div>
    </div>
    <div class="content">
        <!--左侧新闻-->
        <div class="left box">
            <!-------图文新闻---------->
            <ul class="news" id='news'>
                <li onclick="_hmt.push(['_trackEvent','cms','精彩推荐','29852']);">
                    <h2><a href="//bbs.xiaomi.cn/t-13814126" target="_blank">「破界」创意主题摄影大赛，破界成功赢小米Note 3！</a></h2>
                    <span><em class="views">466</em> <a href="//bbs.xiaomi.cn/t-13814126" class="replies"
                                                        target="_blank">8</a><script
                            type="text/javascript">document.write('<a href="http://v.t.sina.com.cn/share/share.php?url=' + encodeURIComponent('http://bbs.xiaomi.cn/t-13814126') + '&appkey=1874498659&title=' + encodeURIComponent('「破界」创意主题摄影大赛，破界成功赢小米Note 3！ ——来自@小米社区') + '" title="分享到新浪微博" target="_blank" class="share">分享</a>');</script></span>
                    <a href="//www.xiaomi.cn/list-99-1.html" target="_blank">小米摄影馆</a> | 2017年10月19日 <!-- |
            <a href='//www.xiaomi.cn/index.php?m=content&c=tag&catid=175&tag=%E5%88%9B%E6%84%8F' target="_blank" class='tag'>创意</a> <a href='//www.xiaomi.cn/index.php?m=content&c=tag&catid=175&tag=%E5%B0%8F%E7%B1%B3' target="_blank" class='tag'>小米</a> <a href='//www.xiaomi.cn/index.php?m=content&c=tag&catid=175&tag=%E4%B8%BB%E9%A2%98' target="_blank" class='tag'>主题</a> -->
                    <a href="//bbs.xiaomi.cn/t-13814126" target="_blank"><img
                            src="//cdn.cnbj0.fds.api.mi-img.com/b2c-bbs-cms/2017/1019/20171019050319472.jpg" width="605"
                            height="220" alt="「破界」创意主题摄影大赛，破界成功赢小米Note 3！" title="「破界」创意主题摄影大赛，破界成功赢小米Note 3！"/></a>
                    <p>左不是右，是右却不是右。一张照片可能是，理想与现实的反差，穿越古今的文化传承，跨越海峡的爱情。打破线框与思维的约束，正如小米MIX 2，开启全面屏2.0时代。创意一拍，破界成功，赢小米Note
                        3。<a href="//bbs.xiaomi.cn/t-13814126" target="_blank">全文》</a></p>
                </li>
                <li onclick="_hmt.push(['_trackEvent','cms','精彩推荐','29849']);">
                    <h2><a href="//bbs.xiaomi.cn/t-13814168" target="_blank">雷军：十九大报告为中国制造业的发展指明了方向</a></h2>
                    <span><em class="views">621</em> <a href="//bbs.xiaomi.cn/t-13814168" class="replies"
                                                        target="_blank">12</a><script
                            type="text/javascript">document.write('<a href="http://v.t.sina.com.cn/share/share.php?url=' + encodeURIComponent('http://bbs.xiaomi.cn/t-13814168') + '&appkey=1874498659&title=' + encodeURIComponent('雷军：十九大报告为中国制造业的发展指明了方向 ——来自@小米社区') + '" title="分享到新浪微博" target="_blank" class="share">分享</a>');</script></span>
                    <a href="//www.xiaomi.cn/list-217-1.html" target="_blank">小米手机</a> | 2017年10月19日 <!-- |
            <a href='//www.xiaomi.cn/index.php?m=content&c=tag&catid=202&tag=%E9%9B%B7%E5%86%9B' target="_blank" class='tag'>雷军</a> <a href='//www.xiaomi.cn/index.php?m=content&c=tag&catid=202&tag=%E4%B8%AD%E5%9B%BD' target="_blank" class='tag'>中国</a> <a href='//www.xiaomi.cn/index.php?m=content&c=tag&catid=202&tag=%E6%98%8E%E4%BA%86' target="_blank" class='tag'>明了</a> -->
                    <a href="//bbs.xiaomi.cn/t-13814168" target="_blank"><img
                            src="//cdn.cnbj0.fds.api.mi-img.com/b2c-bbs-cms/2017/1019/20171019111551920.jpg" width="605"
                            height="220" alt="雷军：十九大报告为中国制造业的发展指明了方向" title="雷军：十九大报告为中国制造业的发展指明了方向"/></a>
                    <p>随着越来越多企业以工匠精神打造高品质产品，用高效率的新零售模式推动产业创新、推动消费升级，中国的经济实力必将越来越强大，中国老百姓的生活必将越来越美好。<a
                            href="//bbs.xiaomi.cn/t-13814168" target="_blank">全文》</a></p>
                </li>
                <li onclick="_hmt.push(['_trackEvent','cms','精彩推荐','29848']);">
                    <h2><a href="//bbs.xiaomi.cn/t-13812340" target="_blank">话题活动 | 你最期待什么样的床头灯呢？</a></h2>
                    <span><em class="views">1351</em> <a href="//bbs.xiaomi.cn/t-13812340" class="replies"
                                                         target="_blank">61</a><script
                            type="text/javascript">document.write('<a href="http://v.t.sina.com.cn/share/share.php?url=' + encodeURIComponent('http://bbs.xiaomi.cn/t-13812340') + '&appkey=1874498659&title=' + encodeURIComponent('话题活动 | 你最期待什么样的床头灯呢？ ——来自@小米社区') + '" title="分享到新浪微博" target="_blank" class="share">分享</a>');</script></span>
                    <a href="//www.xiaomi.cn/list-216-1.html" target="_blank">智能硬件</a> | 2017年10月19日 <!-- |
            <a href='//www.xiaomi.cn/index.php?m=content&c=tag&catid=210&tag=%E5%BA%8A%E5%A4%B4%E7%81%AF' target="_blank" class='tag'>床头灯</a> <a href='//www.xiaomi.cn/index.php?m=content&c=tag&catid=210&tag=%E8%AF%9D%E9%A2%98' target="_blank" class='tag'>话题</a> <a href='//www.xiaomi.cn/index.php?m=content&c=tag&catid=210&tag=' target="_blank" class='tag'></a> -->
                    <a href="//bbs.xiaomi.cn/t-13812340" target="_blank"><img
                            src="//cdn.cnbj0.fds.api.mi-img.com/b2c-bbs-cms/2017/1019/20171019110452818.jpg" width="605"
                            height="220" alt="话题活动 | 你最期待什么样的床头灯呢？" title="话题活动 | 你最期待什么样的床头灯呢？"/></a>
                    <p>相信许多人的第一个梦幻的夜晚、多彩的光世界是由小米Yeelight床头灯带来的，从2015年6月10日到今天小米Yeelight床头灯已经陪伴了我们800多个日夜。<a
                            href="//bbs.xiaomi.cn/t-13812340" target="_blank">全文》</a></p>
                </li>
                <li onclick="_hmt.push(['_trackEvent','cms','精彩推荐','5503']);">
                    <h2><a href="//bbs.xiaomi.cn/t-13807035" target="_blank">喜迎十九大，永远跟党走！紧跟时政，新闻类软件汇总</a></h2>
                    <span><em class="views">515</em> <a href="//bbs.xiaomi.cn/t-13807035" class="replies"
                                                        target="_blank">9</a><script
                            type="text/javascript">document.write('<a href="http://v.t.sina.com.cn/share/share.php?url=' + encodeURIComponent('http://bbs.xiaomi.cn/t-13807035') + '&appkey=1874498659&title=' + encodeURIComponent('喜迎十九大，永远跟党走！紧跟时政，新闻类软件汇总 ——来自@小米社区') + '" title="分享到新浪微博" target="_blank" class="share">分享</a>');</script></span>
                    <a href="//www.xiaomi.cn/list-39-1.html" target="_blank">软件应用</a> | 2017年10月18日 <!-- |
            <a href='//www.xiaomi.cn/index.php?m=content&c=tag&catid=47&tag=%E6%97%B6%E6%94%BF' target="_blank" class='tag'>时政</a> <a href='//www.xiaomi.cn/index.php?m=content&c=tag&catid=47&tag=%E8%BD%AF%E4%BB%B6' target="_blank" class='tag'>软件</a> <a href='//www.xiaomi.cn/index.php?m=content&c=tag&catid=47&tag=%E6%96%B0%E9%97%BB' target="_blank" class='tag'>新闻</a> -->
                    <a href="//bbs.xiaomi.cn/t-13807035" target="_blank"><img
                            src="//cdn.cnbj0.fds.api.mi-img.com/b2c-bbs-cms/2017/1018/20171018033932761.jpg" width="605"
                            height="220" alt="喜迎十九大，永远跟党走！紧跟时政，新闻类软件汇总" title="喜迎十九大，永远跟党走！紧跟时政，新闻类软件汇总"/></a>
                    <p>中国共产党第十九次全国代表大会（简称党的十九大）于2017年10月18日上午9:00在人民大会堂大礼堂开幕，会期10月18日至10月24日。<a
                            href="//bbs.xiaomi.cn/t-13807035" target="_blank">全文》</a></p>
                </li>
                <li onclick="_hmt.push(['_trackEvent','cms','精彩推荐','29846']);">
                    <h2><a href="//bbs.xiaomi.cn/t-13733035" target="_blank">最燃开学季！2017黑科技百校行活动合辑回顾</a></h2>
                    <span><em class="views">4443</em> <a href="//bbs.xiaomi.cn/t-13733035" class="replies"
                                                         target="_blank">12</a><script
                            type="text/javascript">document.write('<a href="http://v.t.sina.com.cn/share/share.php?url=' + encodeURIComponent('http://bbs.xiaomi.cn/t-13733035') + '&appkey=1874498659&title=' + encodeURIComponent('最燃开学季！2017黑科技百校行活动合辑回顾 ——来自@小米社区') + '" title="分享到新浪微博" target="_blank" class="share">分享</a>');</script></span>
                    <a href="//www.xiaomi.cn/list-108-1.html" target="_blank">小米资讯</a> | 2017年10月18日 <!-- |
            <a href='//www.xiaomi.cn/index.php?m=content&c=tag&catid=109&tag=%E7%A7%91%E6%8A%80' target="_blank" class='tag'>科技</a> <a href='//www.xiaomi.cn/index.php?m=content&c=tag&catid=109&tag=' target="_blank" class='tag'></a> <a href='//www.xiaomi.cn/index.php?m=content&c=tag&catid=109&tag=' target="_blank" class='tag'></a> -->
                    <a href="//bbs.xiaomi.cn/t-13733035" target="_blank"><img
                            src="//cdn.cnbj0.fds.api.mi-img.com/b2c-bbs-cms/2017/1018/20171018031428589.jpg" width="605"
                            height="220" alt="最燃开学季！2017黑科技百校行活动合辑回顾" title="最燃开学季！2017黑科技百校行活动合辑回顾"/></a>
                    <p>2017小米校园开学季期间，校园俱乐部覆盖的全国百所高校的小鲜肉们，举办了非常精彩的小米黑科技行活动，迎接热情的米粉们加入我们，一起来看下吧！<a
                            href="//bbs.xiaomi.cn/t-13733035" target="_blank">全文》</a></p>
                </li>
                <li onclick="_hmt.push(['_trackEvent','cms','精彩推荐','29845']);">
                    <h2><a href="//bbs.xiaomi.cn/t-13790856" target="_blank">神技能！ 扫描二维码把电脑文件秒传到手机</a></h2>
                    <span><em class="views">5605</em> <a href="//bbs.xiaomi.cn/t-13790856" class="replies"
                                                         target="_blank">75</a><script
                            type="text/javascript">document.write('<a href="http://v.t.sina.com.cn/share/share.php?url=' + encodeURIComponent('http://bbs.xiaomi.cn/t-13790856') + '&appkey=1874498659&title=' + encodeURIComponent('神技能！ 扫描二维码把电脑文件秒传到手机 ——来自@小米社区') + '" title="分享到新浪微博" target="_blank" class="share">分享</a>');</script></span>
                    <a href="//www.xiaomi.cn/list-218-1.html" target="_blank">电脑办公</a> | 2017年10月18日 <!-- |
            <a href='//www.xiaomi.cn/index.php?m=content&c=tag&catid=219&tag=%E7%A5%9E%E6%8A%80' target="_blank" class='tag'>神技</a> <a href='//www.xiaomi.cn/index.php?m=content&c=tag&catid=219&tag=%E4%BA%8C%E7%BB%B4%E7%A0%81' target="_blank" class='tag'>二维码</a> <a href='//www.xiaomi.cn/index.php?m=content&c=tag&catid=219&tag=%E6%96%87%E4%BB%B6' target="_blank" class='tag'>文件</a> -->
                    <a href="//bbs.xiaomi.cn/t-13790856" target="_blank"><img
                            src="//cdn.cnbj0.fds.api.mi-img.com/b2c-bbs-cms/2017/1018/20171018023728759.jpg" width="605"
                            height="220" alt="神技能！ 扫描二维码把电脑文件秒传到手机" title="神技能！ 扫描二维码把电脑文件秒传到手机"/></a>
                    <p>随着智能手机和移动互联网的逐渐普及，扫描二维码已经成为复合文本，表达与传输最便捷实用的方式，并被广泛应用于宣传超链接、添加好友、订阅公众号、线上平台支付和身份验证<a
                            href="//bbs.xiaomi.cn/t-13790856" target="_blank">全文》</a></p>
                </li>
                <li onclick="_hmt.push(['_trackEvent','cms','精彩推荐','29837']);">
                    <h2><a href="//bbs.xiaomi.cn/t-13787497" target="_blank">关于手机充电的几个误区，你真会充电吗！</a></h2>
                    <span><em class="views">3646</em> <a href="//bbs.xiaomi.cn/t-13787497" class="replies"
                                                         target="_blank">28</a><script
                            type="text/javascript">document.write('<a href="http://v.t.sina.com.cn/share/share.php?url=' + encodeURIComponent('http://bbs.xiaomi.cn/t-13787497') + '&appkey=1874498659&title=' + encodeURIComponent('关于手机充电的几个误区，你真会充电吗！ ——来自@小米社区') + '" title="分享到新浪微博" target="_blank" class="share">分享</a>');</script></span>
                    <a href="//www.xiaomi.cn/list-217-1.html" target="_blank">小米手机</a> | 2017年10月17日 <!-- |
            <a href='//www.xiaomi.cn/index.php?m=content&c=tag&catid=202&tag=%E8%AF%AF%E5%8C%BA' target="_blank" class='tag'>误区</a> <a href='//www.xiaomi.cn/index.php?m=content&c=tag&catid=202&tag=%E6%89%8B%E6%9C%BA' target="_blank" class='tag'>手机</a> <a href='//www.xiaomi.cn/index.php?m=content&c=tag&catid=202&tag=' target="_blank" class='tag'></a> -->
                    <a href="//bbs.xiaomi.cn/t-13787497" target="_blank"><img
                            src="//cdn.cnbj0.fds.api.mi-img.com/b2c-bbs-cms/2017/1017/20171017113839714.jpg" width="605"
                            height="220" alt="关于手机充电的几个误区，你真会充电吗！" title="关于手机充电的几个误区，你真会充电吗！"/></a>
                    <p>现代人聊微信、打农药、逛淘宝等，大家是越来越离不开手机，无论是坐车、逛超市、吃饭……手机一天一充，有时两充、三充都不够！但是大家知道吗？<a
                            href="//bbs.xiaomi.cn/t-13787497" target="_blank">全文》</a></p>
                </li>
                <li onclick="_hmt.push(['_trackEvent','cms','精彩推荐','29841']);">
                    <h2><a href="//bbs.xiaomi.cn/t-13803416" target="_blank">为什么驾驶座不放在中间，你了解吗？</a></h2>
                    <span><em class="views">3895</em> <a href="//bbs.xiaomi.cn/t-13803416" class="replies"
                                                         target="_blank">26</a><script
                            type="text/javascript">document.write('<a href="http://v.t.sina.com.cn/share/share.php?url=' + encodeURIComponent('http://bbs.xiaomi.cn/t-13803416') + '&appkey=1874498659&title=' + encodeURIComponent('为什么驾驶座不放在中间，你了解吗？ ——来自@小米社区') + '" title="分享到新浪微博" target="_blank" class="share">分享</a>');</script></span>
                    <a href="//www.xiaomi.cn/list-108-1.html" target="_blank">小米资讯</a> | 2017年10月17日 <!-- |
            <a href='//www.xiaomi.cn/index.php?m=content&c=tag&catid=109&tag=%E9%A9%BE%E9%A9%B6%E5%BA%A7' target="_blank" class='tag'>驾驶座</a> <a href='//www.xiaomi.cn/index.php?m=content&c=tag&catid=109&tag=' target="_blank" class='tag'></a> <a href='//www.xiaomi.cn/index.php?m=content&c=tag&catid=109&tag=' target="_blank" class='tag'></a> -->
                    <a href="//bbs.xiaomi.cn/t-13803416" target="_blank"><img
                            src="//cdn.cnbj0.fds.api.mi-img.com/b2c-bbs-cms/2017/1017/20171017035226207.jpg" width="605"
                            height="220" alt="为什么驾驶座不放在中间，你了解吗？" title="为什么驾驶座不放在中间，你了解吗？"/></a>
                    <p>驾驶座放在中间，视野更加开阔，车身掌控也更加简单，而且也减少了A柱的遮挡，想想就很爽！
                        <a href="//bbs.xiaomi.cn/t-13803416" target="_blank">全文》</a></p>
                </li>
                <li onclick="_hmt.push(['_trackEvent','cms','精彩推荐','5502']);">
                    <h2><a href="//bbs.xiaomi.cn/t-13772957" target="_blank">每周热门资源秀 秀出精彩 第二百四十九期</a></h2>
                    <span><em class="views">1197</em> <a href="//bbs.xiaomi.cn/t-13772957" class="replies"
                                                         target="_blank">5</a><script
                            type="text/javascript">document.write('<a href="http://v.t.sina.com.cn/share/share.php?url=' + encodeURIComponent('http://bbs.xiaomi.cn/t-13772957') + '&appkey=1874498659&title=' + encodeURIComponent('每周热门资源秀 秀出精彩 第二百四十九期 ——来自@小米社区') + '" title="分享到新浪微博" target="_blank" class="share">分享</a>');</script></span>
                    <a href="//www.xiaomi.cn/list-39-1.html" target="_blank">软件应用</a> | 2017年10月17日 <!-- |
            <a href='//www.xiaomi.cn/index.php?m=content&c=tag&catid=55&tag=%E8%B5%84%E6%BA%90' target="_blank" class='tag'>资源</a> <a href='//www.xiaomi.cn/index.php?m=content&c=tag&catid=55&tag=%E7%AC%AC%E4%BA%8C%E7%99%BE%E5%9B%9B%E5%8D%81%E4%B9%9D' target="_blank" class='tag'>第二百四十九</a> <a href='//www.xiaomi.cn/index.php?m=content&c=tag&catid=55&tag=' target="_blank" class='tag'></a> -->
                    <a href="//bbs.xiaomi.cn/t-13772957" target="_blank"><img
                            src="//cdn.cnbj0.fds.api.mi-img.com/b2c-bbs-cms/2017/1017/20171017105407389.jpg" width="605"
                            height="220" alt="每周热门资源秀 秀出精彩 第二百四十九期" title="每周热门资源秀 秀出精彩 第二百四十九期"/></a>
                    <p>资源区欢迎大家常来发发帖。分享是一种快乐！把自己喜欢的各种精品小资源分享给大家是很开心的事情。本合集为资源区特供，一周发布一次，点击帖子标题即可进入详细内容页下载。<a
                            href="//bbs.xiaomi.cn/t-13772957" target="_blank">全文》</a></p>
                </li>
                <li onclick="_hmt.push(['_trackEvent','cms','精彩推荐','29834']);">
                    <h2><a href="//bbs.xiaomi.cn/t-13757745" target="_blank">最燃开学季 烟台南山学院黑科技盛宴精彩回顾</a></h2>
                    <span><em class="views">5414</em> <a href="//bbs.xiaomi.cn/t-13757745" class="replies"
                                                         target="_blank">36</a><script
                            type="text/javascript">document.write('<a href="http://v.t.sina.com.cn/share/share.php?url=' + encodeURIComponent('http://bbs.xiaomi.cn/t-13757745') + '&appkey=1874498659&title=' + encodeURIComponent('最燃开学季 烟台南山学院黑科技盛宴精彩回顾 ——来自@小米社区') + '" title="分享到新浪微博" target="_blank" class="share">分享</a>');</script></span>
                    <a href="//www.xiaomi.cn/list-108-1.html" target="_blank">小米资讯</a> | 2017年10月16日 <!-- |
            -->
                    <a href="//bbs.xiaomi.cn/t-13757745" target="_blank"><img
                            src="//cdn.cnbj0.fds.api.mi-img.com/b2c-bbs-cms/2017/1016/20171016114357150.jpg" width="605"
                            height="220" alt="最燃开学季 烟台南山学院黑科技盛宴精彩回顾" title="最燃开学季 烟台南山学院黑科技盛宴精彩回顾"/></a>
                    <p>9月，随着2017小米校园最燃开学季开启，校园俱乐部覆盖的全国百所高校的小鲜肉们，举办了非常精彩的校园黑科技行活动，迎接热情的米粉们加入我们，一起来看下烟台南山学院活动实况吧！<a
                            href="//bbs.xiaomi.cn/t-13757745" target="_blank">全文》</a></p>
                </li>
            </ul>
            <!-----分页------->
            <div class="pages" onclick="_hmt.push(['_trackEvent','cms','翻页']);"><span>1</span>
                <a href="/index-2#news">2</a><a
                    href="/index-3#news" onclick="_gaq.push(['_trackEvent', 'CMS首页', '翻页按钮'])">3</a><a
                    href="/index-4#news" onclick="_gaq.push(['_trackEvent', 'CMS首页', '翻页按钮'])">4</a><a
                    href="/index-5#news" onclick="_gaq.push(['_trackEvent', 'CMS首页', '翻页按钮'])">5</a><a
                    href="/index-6#news" onclick="_gaq.push(['_trackEvent', 'CMS首页', '翻页按钮'])">6</a><a
                    href="/index-7#news" onclick="_gaq.push(['_trackEvent', 'CMS首页', '翻页按钮'])">7</a><a
                    href="/index-8#news" onclick="_gaq.push(['_trackEvent', 'CMS首页', '翻页按钮'])">8</a><a
                    href="/index-9#news" onclick="_gaq.push(['_trackEvent', 'CMS首页', '翻页按钮'])">9</a><a
                    href="/index-10#news" onclick="_gaq.push(['_trackEvent', 'CMS首页', '翻页按钮'])">10</a><a
                    href="/index-2#news" class="a1">下一页</a>
            </div>
        </div>
        <!------ 右侧栏----------->
        <div class="right">
            <!--版块推荐+百宝箱-->
            <div class="hot box">
                <h4><strong class="tab SwapTab"><span class="fb">版块推荐</span><span>百宝箱</span></strong></h4>
                <div class="tab-content">
                    <ul style="display: block">
                        <li><a href="//bbs.xiaomi.cn/f-487" onclick="_gaq.push(['_trackEvent', '论坛侧边栏','版块推荐', '小米6']);"
                               target="_blank"><span style="color:#ff0000;">小米6</span></a></li>
                        <li><a href="//bbs.xiaomi.cn/f-385"
                               onclick="_gaq.push(['_trackEvent', '论坛侧边栏', '版块推荐', '小米手机4']);" target="_blank"><span
                                style="color:#ff0000;">小米Note 2</span></a></li>
                        <li><a href="//bbs.xiaomi.cn/f-475"
                               onclick="_gaq.push(['_trackEvent', '论坛侧边栏','版块推荐', '小米Mix']);" target="_blank">小米MIX</a>
                        </li>
                        <li><a href="//bbs.xiaomi.cn/f-451"
                               onclick="_gaq.push(['_trackEvent', '论坛侧边栏','版块推荐', '小米5/5s/5s Plus']);" target="_blank">小米5/5s/5s
                            Plus</a></li>
                        <li><a href="//bbs.xiaomi.cn/f-458"
                               onclick="_gaq.push(['_trackEvent', '论坛侧边栏','版块推荐', '小米Max']);" target="_blank">小米Max
                            2</a></li>
                        <li><a href="//bbs.xiaomi.cn/f-450"
                               onclick="_gaq.push(['_trackEvent', '论坛侧边栏', '版块推荐', '小米笔记本']);" target="_blank">小米笔记本</a>
                        </li>
                        <li><a href="//bbs.xiaomi.cn/f-360"
                               onclick="_gaq.push(['_trackEvent','论坛侧边栏', '版块推荐', '红米Note4']);" target="_blank">红米Note
                            4</a></li>
                        <li><a href="//bbs.xiaomi.cn/f-467"
                               onclick="_gaq.push(['_trackEvent', '论坛侧边栏','版块推荐', '小红米Pro']);" target="_blank">红米Pro</a>
                        </li>
                        <li><a href="//bbs.xiaomi.cn/f-9" onclick="_gaq.push(['_trackEvent','论坛侧边栏', '版块推荐', '小米电视']);"
                               target="_blank">小米电视</a></li>
                        <li><a href="//bbs.xiaomi.cn/f-358"
                               onclick="_gaq.push(['_trackEvent', '论坛侧边栏','版块推荐', '小米平板']);" target="_blank">小米平板2</a>
                        </li>
                        <li><a href="//bbs.xiaomi.cn/f-364"
                               onclick="_gaq.push(['_trackEvent','论坛侧边栏', '版块推荐', '小米盒子']);" target="_blank">小米盒子</a>
                        </li>
                        <li><a href="//bbs.xiaomi.cn/f-354"
                               onclick="_gaq.push(['_trackEvent', '论坛侧边栏','版块推荐', '小米路由器']);" target="_blank">小米路由器
                            3</a></li>
                        <li><a href="//bbs.xiaomi.cn/f-361"
                               onclick="_gaq.push(['_trackEvent', '论坛侧边栏','版块推荐', '红米手机']);" target="_blank">红米3S</a>
                        </li>
                        <li><a href="//bbs.xiaomi.cn/f-362"
                               onclick="_gaq.push(['_trackEvent', '论坛侧边栏', '版块推荐', '小米手环']);" target="_blank">小米手环2</a>
                        </li>
                        <li><a href="//bbs.xiaomi.cn/f-439"
                               onclick="_gaq.push(['_trackEvent', '论坛侧边栏', '版块推荐', '小米手环']);" target="_blank">九号平衡车</a>
                        </li>
                        <li>
                            <p style="color:red"><a href="//bbs.xiaomi.cn/f-10"
                                                    onclick="_gaq.push(['_trackEvent', '论坛侧边栏','版块推荐', '小米空气净化器']);"
                                                    target="_blank">小米空气净化器2</a></p>
                        </li>
                        <li><a href="//bbs.xiaomi.cn/f-431"
                               onclick="_gaq.push(['_trackEvent', '论坛侧边栏','版块推荐', '小米净水器']);" target="_blank">小米净水器</a>
                        </li>
                        <li><a href="//bbs.xiaomi.cn/f-419"
                               onclick="_gaq.push(['_trackEvent', '论坛侧边栏','版块推荐', '积分商城']);" target="_blank">积分商城</a>
                        </li>
                        <li class="more"><a href="//bbs.xiaomi.cn"
                                            onclick="_gaq.push(['_trackEvent', '论坛侧边栏','版块推荐', '全部版块']);">查看论坛所有版块&gt;&gt;</a>
                        </li>
                    </ul>
                    <ul style="display: none">
                        <li><a href="//bbs.xiaomi.cn/message/private"
                               onclick="_gaq.push(['_trackEvent', '论坛侧边栏','版块推荐', '个人消息']);">我的消息</a></li>
                        <li><a href="//rom.xiaomi.cn/" onclick="_gaq.push(['_trackEvent', '论坛侧边栏','版块推荐', 'ROM下载']);"
                               target="_blank">ROM下载</a></li>
                        <li><a href="//uvip.xiaomi.cn" onclick="_gaq.push(['_trackEvent','论坛侧边栏', '版块推荐', 'VIP认证']);"
                               target="_blank">VIP认证</a></li>
                        <li><a href="//bbs.xiaomi.cn/f-400"
                               onclick="_gaq.push(['_trackEvent', '论坛侧边栏','版块推荐', '申请特殊用户组']);"
                               target="_blank">申请特殊用户组</a></li>
                        <li><a href="//down.xiaomi.cn/" onclick="_gaq.push(['_trackEvent','论坛侧边栏', '版块推荐', '应用中心']);"
                               target="_blank">应用中心</a></li>
                        <li><a href="//order.mi.com/misc/checkitem"
                               onclick="_gaq.push(['_trackEvent', '论坛侧边栏','版块推荐', '小米百科']);" target="_blank">防伪查询</a>
                        </li>
                        <li><a href="//bbs.xiaomi.cn/f-392" onclick="_gaq.push(['_trackEvent', '论坛侧边栏','版块推荐', '酷玩帮']);"
                               target="_blank">小米酷玩帮</a></li>
                        <li><a href="//mipop.xiaomi.cn" onclick="_gaq.push(['_trackEvent', '论坛侧边栏','版块推荐', '酷玩帮']);"
                               target="_blank">小米爆米花</a></li>
                        <li><a href="//bbs.xiaomi.cn/f-17" onclick="_gaq.push(['_trackEvent', '论坛侧边栏','版块推荐', '办事大厅']);"
                               target="_blank">办事大厅</a></li>
                        <li><a href="//bbs.xiaomi.cn/f-394"
                               onclick="_gaq.push(['_trackEvent', '论坛侧边栏','版块推荐', '热门软件']);" target="_blank">热门软件</a>
                        </li>
                        <li><a href="//bbs.xiaomi.cn/f-395"
                               onclick="_gaq.push(['_trackEvent', '论坛侧边栏','版块推荐', '热门游戏']);" target="_blank">热门游戏</a>
                        </li>
                        <li><a href="////bbs.xiaomi.cn/app/history"
                               onclick="_gaq.push(['_trackEvent', '论坛侧边栏','版块推荐', '小米大事记']);" target="_blank">小米大事记</a>
                        </li>
                        <li><a href="//www.mi.com/" onclick="_gaq.push(['_trackEvent','论坛侧边栏', '版块推荐', '小米网']);">小米网</a>
                        </li>
                        <li><a href="//xiaomi.tmall.com/"
                               onclick="_gaq.push(['_trackEvent', '论坛侧边栏','版块推荐', '天猫旗舰店']);">天猫旗舰店</a></li>
                        <li class="more"><a href="//www.xiaomi.cn/"
                                            onclick="_gaq.push(['_trackEvent', '论坛侧边栏','版块推荐', '小米社区首页']);">小米社区首页&gt;&gt;</a>
                        </li>
                    </ul>
                </div>
            </div>
            <script type="text/javascript">

                $(function () {
                    new SwapTab(".hot .SwapTab", "span", ".tab-content", "ul", "fb");//排行TAB
                })</script>
            <!--编辑推荐-->
            <div class="editorChoice box" onclick="_hmt.push(['_trackEvent','cms','侧边栏','编辑推荐']);">
                <h4>
                    <strong>今日推荐</strong>
                    <a class="r" href="//bbs.xiaomi.cn" target="_blank">更多&gt;</a></h4>
                <ul>
                    <li class="topRank">
                        <em>1</em>
                        <a href="//bbs.xiaomi.cn/t-13814037" title="快入！今年小米双11哪些产品最值？"
                           target="_blank">快入！今年小米双11哪些产品最值？</a>
                    </li>
                    <li class="topRank">
                        <em>2</em>
                        <a href="//bbs.xiaomi.cn/t-13786404" title="小米入选商务部“中国之造”！" target="_blank">小米入选商务部“中国之造”！</a>
                    </li>
                    <li class="topRank">
                        <em>3</em>
                        <a href="//bbs.xiaomi.cn/t-13784678" title="送手机！阿黎邀你来办影展" target="_blank">送手机！阿黎邀你来办影展</a>
                    </li>
                    <li>
                        <em>4</em>
                        <a href="//bbs.xiaomi.cn/t-13745378" title="国庆长假用小米拍照赢小米Note 3" target="_blank">国庆长假用小米拍照赢小米Note
                            3</a>
                    </li>
                    <li>
                        <em>5</em>
                        <a href="//bbs.xiaomi.cn/t-13723363" title="小米MIX 2的秘密细节盘点" target="_blank">小米MIX 2的秘密细节盘点</a>
                    </li>
                    <li>
                        <em>6</em>
                        <a href="//bbs.xiaomi.cn/t-13720084" title="小米MIX 2首卖3299元起" target="_blank">小米MIX 2首卖3299元起</a>
                    </li>
                    <li>
                        <em>7</em>
                        <a href="//bbs.xiaomi.cn/t-13712081" title="小米MIX 2 新品发布会直播回顾" target="_blank">小米MIX 2
                            新品发布会直播回顾</a>
                    </li>
                    <li>
                        <em>8</em>
                        <a href="//bbs.xiaomi.cn/t-13678445" title="你有哪些话想对MIX 2说？" target="_blank">你有哪些话想对MIX 2说？</a>
                    </li>
                    <li>
                        <em>9</em>
                        <a href="//bbs.xiaomi.cn/t-13689692" title="你愿意寄一封手写信给小米吗？" target="_blank">你愿意寄一封手写信给小米吗？</a>
                    </li>
                    <li>
                        <em>10</em>
                        <a href="//bbs.xiaomi.cn/t-13689834" title="小米MIX 2新品发布会9月11日见" target="_blank">小米MIX
                            2新品发布会9月11日见</a>
                    </li>
                </ul>
            </div>
            <!--ROM 下载-->
            <!--热门活动-->
            <div class="activities box">
                <h4><strong>热门活动</strong> <a class="r" href="//wan.xiaomi.cn/"
                                             onclick="_gaq.push(['_trackEvent', 'CMS右侧栏', '热门活动']);" target="_blank"> 更多
                    &gt;</a></h4>
                <br/>
                <a href="//wan.xiaomi.cn/activity/detail/activity_id/123" target="_blank"><img
                        src="//cdn.cnbj0.fds.api.mi-img.com/b2c-bbs-cms/2017/1019/20171019115413700.jpg"
                        style="width: 260px; height: 185px;"/></a>
            </div>
            <br/>
            <div class="rom box">
                <h4><strong>小米手机ROM</strong></h4>
                <div class="download"><strong>92. 96<span>%</span></strong>
                    <h2>本周推荐度</h2>
                    <em>MIUI 7.10.12</em><a href="//bbs.xiaomi.cn/t-13781512" target="_blank">升级公告</a></div>
                <div class="info"><a href="//bbs.xiaomi.cn/thread-254260-1-1.html"
                                     onclick="_gaq.push(['_trackEvent', 'CMS右侧栏', '小米手机ROM', '开发版与稳定版的说明']);"
                                     target="_blank">关于MIUI开发版和稳定版的说明</a><br/>
                    <a href="//www.xiaomi.cn/list-160-1.html"
                       onclick="_gaq.push(['_trackEvent', 'CMS右侧栏', '小米手机ROM', '刷机教程']);" target="_blank">刷机教程</a> | <a
                            href="//bbs.xiaomi.cn/thread-11158516-1-1.html"
                            onclick="_gaq.push(['_trackEvent', 'CMS右侧栏', '小米手机ROM', '小米助手']);" target="_blank">小米助手</a>
                    | <a href="//bbs.xiaomi.cn/t-13316450" target="_blank">线刷工具</a> | <a href="//rom.xiaomi.cn"
                                                                                         onclick="_gaq.push(['_trackEvent', 'CMS右侧栏', '小米手机ROM', 'ROM下载']);"
                                                                                         target="_blank">ROM下载</a></div>
            </div>
            <br/><!--临时碎片-->
            <!--随手拍-->
            <div class="store with_toggle box" id="picShow">
                <h4><strong>摄影馆</strong> <a class="r" href="//pai.xiaomi.cn/"
                                            onclick="_gaq.push(['_trackEvent', 'CMS右侧栏', '随手拍']);" target="_blank">更多
                    &gt;</a></h4>
                <ul>
                    <li><a href="//bbs.xiaomi.cn/t-13774051" onclick="_gaq.push(['_trackEvent', 'CMS右侧栏', '随手拍']);"
                           target="_blank"><img height="185"
                                                src="//cdn.cnbj0.fds.api.mi-img.com/b2c-bbs-cms/2017/1013/20171013101309593.png"
                                                width="260"/> <span>「小米5X」天空，我步向你 | 落霞</span> </a></li>
                    <li><a href="//bbs.xiaomi.cn/t-13758418" onclick="_gaq.push(['_trackEvent', 'CMS右侧栏', '随手拍']);"
                           target="_blank"><img height="185"
                                                src="//cdn.cnbj0.fds.api.mi-img.com/b2c-bbs-cms/2017/1013/20171013102552282.png"
                                                width="260"/> <span>「5X人像」居家随拍 | Canon丶杰</span> </a></li>
                    <li><a href="//bbs.xiaomi.cn/t-13729762" onclick="_gaq.push(['_trackEvent', 'CMS右侧栏', '随手拍']);"
                           target="_blank"><img height="185"
                                                src="//cdn.cnbj0.fds.api.mi-img.com/b2c-bbs-cms/2017/1013/20171013110702659.png"
                                                width="260"/> <span>「小米6」人像摄影的感悟 | 汝城小欧</span> </a></li>
                    <li><a href="//bbs.xiaomi.cn/t-13058794" onclick="_gaq.push(['_trackEvent', 'CMS右侧栏', '随手拍']);"
                           target="_blank"><img height="185"
                                                src="//cdn.cnbj0.fds.api.mi-img.com/b2c-bbs-cms/2016/0718/20160718031803475.jpg"
                                                width="260"/> <span>小米5：用心感受生活</span> </a></li>
                </ul>
            </div><!--玩机-->
            <div class="play box" onclick="_hmt.push(['_trackEvent','cms','侧边栏','玩机']);">
                <h4>
                    <strong>玩机</strong>
                    <a class="r" href="//down.xiaomi.cn" target="“_blank”">更多&gt;</a></h4>
                <ul>
                    <li>
                        <a href="//bbs.xiaomi.cn/t-13422234" title="有品" target="_blank"><img
                                src="//cdn.cnbj0.fds.api.mi-img.com/b2c-bbs-cms/2017/1013/20171013051851569.png"
                                alt="有品" width="64" height="64">有品</a>
                        <p>小米旗下精品生活电商</p>
                    </li>
                    <li>
                        <a href="//bbs.xiaomi.cn/t-13791856" title="投屏神器" target="_blank"><img
                                src="//cdn.cnbj0.fds.api.mi-img.com/b2c-bbs-cms/2017/1016/20171016052726858.png"
                                alt="投屏神器" width="64" height="64">投屏神器</a>
                        <p>小米投屏神器</p>
                    </li>
                    <li>
                        <a href="//bbs.xiaomi.cn/t-11718352" title="疯狂外星人" target="_blank"><img
                                src="//img08.mifile.cn/v1/MI_1031495CC30DA4/T1KtA_B4Yv1RXrhCrK.jpg?width=655&height=10000"
                                alt="疯狂外星人" width="64" height="64">疯狂外星人</a>
                        <p>一款逗比的外星人</p>
                    </li>
                    <li>
                        <a href="//bbs.xiaomi.cn/t-11717928" title="FX File Explorer" target="_blank"><img
                                src="//cdn.cnbj0.fds.api.mi-img.com/b2c-bbs-cms/2015/1103/20151103112010624.jpg"
                                alt="FX File Explorer" width="64" height="64">FX File Explorer</a>
                        <p>强悍到极致的文件管理器</p>
                    </li>
                    <li>
                        <a href="//bbs.xiaomi.cn/t-11705747" title="滴滴打人" target="_blank"><img
                                src="//cdn.cnbj0.fds.api.mi-img.com/b2c-bbs-cms/2015/1023/20151023104930766.jpg"
                                alt="滴滴打人" width="64" height="64">滴滴打人</a>
                        <p>只要你喜欢 随时能召唤</p>
                    </li>
                </ul>
            </div>

            <!--小米学院-->
            <div class="academy box" onclick="_hmt.push(['_trackEvent','cms','侧边栏','学院']);">
                <h4>
                    <strong>小米学院</strong>
                    <a class="r" href="//xue.xiaomi.cn" target="“_blank”">更多&gt;</a>
                </h4>
                <ul>
                    <li>
                        <a href="//bbs.xiaomi.cn/t-13265898" title="《小米学院》向所有米粉发烧友征稿" target="_blank">
                            <img src="//cdn.cnbj0.fds.api.mi-img.com/b2c-bbs-cms/2016/1201/20161201111658787.png"
                                 alt="《小米学院》向所有米粉发烧友征稿" width="125" height="85">
                            《小米学院》向所有米粉发烧友征稿 </a>
                    </li>
                    <li>
                        <a href="//bbs.xiaomi.cn/t-12955875" title="教你如何把网盘资料转存小米路由" target="_blank">
                            <img src="//cdn.cnbj0.fds.api.mi-img.com/b2c-bbs-cms/2016/0527/20160527024307310.png"
                                 alt="教你如何把网盘资料转存小米路由" width="125" height="85">
                            教你如何把网盘资料转存小米路由 </a>
                    </li>
                    <li>
                        <a href="" title="早日享受VIP8等级特权不是梦" target="_blank">
                            <img src="//cdn.cnbj0.fds.api.mi-img.com/b2c-bbs-cms/2015/1130/20151130114823763.png"
                                 alt="早日享受VIP8等级特权不是梦" width="125" height="85">
                            早日享受VIP8等级特权不是梦 </a>
                    </li>
                    <li>
                        <a href="" title="轻松实现新老手机数据乾坤大挪移" target="_blank">
                            <img src="//cdn.cnbj0.fds.api.mi-img.com/b2c-bbs-cms/2015/1110/20151110125431351.png"
                                 alt="轻松实现新老手机数据乾坤大挪移" width="125" height="85">
                            轻松实现新老手机数据乾坤大挪移 </a>
                    </li>

                </ul>
            </div>
            <!--精品推荐-->
            <div class="recommend box">
                <h4><strong>小米爆米花</strong></h4>
                <ul>
                    <li><a href="//hd.mi.com/x/05031t/index.html"
                           onclick="_gaq.push(['_trackEvent', 'CMS右侧栏', '热点推荐']);" target="_blank"><img
                            src="//cdn.cnbj0.fds.api.mi-img.com/b2c-bbs-cms/2017/0612/20170612055935119.jpeg"
                            style="width: 260px; height: 185px"/> </a></li>
                    <!--<li><a href="#"  onclick="_gaq.push(['_trackEvent', 'CMS右侧栏', '热点推荐']);" target="_blank"><img height="185" src="/temp/news-1.jpg" width="260" /> <strong>独特缩时摄影神器</strong> </a></li> -->
                </ul>
            </div>
        </div>
        <!--[if lte IE 7]><div style="clear: both"></div><![endif]-->
    </div>
</div>
<!-- main end -->
{% end %}