                    <div class="base_widget_paging">
                        <div class="paging_widget_2">
                            <ul>
                                <li class="page selected "><a
                                        onclick="_hmt.push(['_trackEvent','bbs首页','帖子列表', '翻页']);">1</a></li>
                                <li class="page"><a href="/d-2"
                                                    onclick="_hmt.push(['_trackEvent','bbs首页','帖子列表', '翻页']);">2</a>
                                </li>
                                <li class="page"><a href="/d-3"
                                                    onclick="_hmt.push(['_trackEvent','bbs首页','帖子列表', '翻页']);">3</a>
                                </li>
                                <li class="page"><a href="/d-4"
                                                    onclick="_hmt.push(['_trackEvent','bbs首页','帖子列表', '翻页']);">4</a>
                                </li>
                                <li class="page"><a href="/d-5"
                                                    onclick="_hmt.push(['_trackEvent','bbs首页','帖子列表', '翻页']);">5</a>
                                </li>
                                <li class="page"><a href="/d-6"
                                                    onclick="_hmt.push(['_trackEvent','bbs首页','帖子列表', '翻页']);">6</a>
                                </li>
                                <li class="page"><a href="/d-7"
                                                    onclick="_hmt.push(['_trackEvent','bbs首页','帖子列表', '翻页']);">7</a>
                                </li>
                                <li class="page"><a href="/d-8"
                                                    onclick="_hmt.push(['_trackEvent','bbs首页','帖子列表', '翻页']);">8</a>
                                </li>
                                <li class="page"><a href="/d-9"
                                                    onclick="_hmt.push(['_trackEvent','bbs首页','帖子列表', '翻页']);">9</a>
                                </li>
                                <li class="page"><a href="/d-10"
                                                    onclick="_hmt.push(['_trackEvent','bbs首页','帖子列表', '翻页']);">10</a>
                                </li>
                                <li class="next"><a href="/d-2"
                                                    onclick="_hmt.push(['_trackEvent','bbs首页','帖子列表', '翻页']);">&gt</a>
                                </li>
                                <li class="last"><a href="/d-634"
                                                    onclick="_hmt.push(['_trackEvent','bbs首页','帖子列表', '翻页']);">末页>></a>
                                </
                                </li>                </ul>
                        </div>
                    </div>