{% extends "base.html" %}
{% block head %}<title>修改密码</title>{% end %}
{% block body %}
<div style="text-align: center; height: 700px">
    <form method="post">
        <table style="margin: auto">
            <tr>{% if form_errors %} {{ form_errors["form"] }} {% end %}</tr>
            <tr>
            <td>原密码</td><td><input type="password" name="f_old_password"></td>
                <td><span>{% if form_errors and "old_password" in form_errors %} {{ form_errors["old_password"] }} {% end %}</span></td>
            </tr>

            <tr>
                <td>新密码</td><td><input type="password" name="f_new_password"></td>
                <td><span>{% if form_errors and "new_password" in form_errors %} {{ form_errors["new_password"] }} {% end %}</span></td>
            </tr>
            <tr>
                <td>重复新密码</td><td><input  name="f_password2"></td>
            </tr>
            <tr>
            <td>&nbsp;&nbsp;</td><td><input type="submit" value="修改"></td>
            </tr>
        </table>
    </form>

</div>

{% end %}