  <!--<hr>-->
  <div style="margin-top:10px;text-align: center">
  <strong ><a href="#" class="dark" target="_self">关于</a>
      &nbsp; <span class="snow">·</span>
      &nbsp; <a href="#" class="dark" target="_self">FAQ</a>
      &nbsp; <span class="snow">·</span>
      &nbsp; <a href="#" class="dark" target="_self">API</a>
      &nbsp; <span class="snow">·</span>
      &nbsp; <a href="#" class="dark" target="_self">我们的愿景</a>
      &nbsp; <span class="snow">·</span>
      &nbsp; <a href="#" class="dark" target="_self">广告投放</a>
      &nbsp; <span class="snow">·</span>
      &nbsp; <a href="#" class="dark" target="_self">鸣谢</a>
      &nbsp; <span class="snow">·</span> &nbsp; 2704 人在线</strong>
  </div>