{% extends "base.html" %}

{% block head %}<title>亿启俫网络科技</title>{% end %}

{% block body %}
<div name="content" style="background-color: rgba(255,255,255,0.01);height:800px;margin: 40px; text-align: center ">
{#    <img style="width: auto" src="/images/homepage.jpg">#}
<br>
    <h1>这里是首页测试区</h1>
    <h2>这里是首页测试区</h2>
    <h3>这里是首页测试区</h3>
    <h4>这里是首页测试区</h4>
    <br><br><br><br><br><br><br>

    <h4>这里是首页测试区</h4>
    <h3>这里是首页测试区</h3>
    <h2>这里是首页测试区</h2>
    <h1>这里是首页测试区</h1>

</div>



{% end %}