{% extends "base.html" %}
{% block head %}<title>注册</title>{% end %}
{% block body %}
<div style="text-align: center; height: 700px">
    <form method="post">
        <table style="margin: auto">
            <tr>
                <td>邮箱</td>
                <td><input name="f_email" value={% if form_data and "email" in form_data %}"{{ form["email"] }}"{% end %}required></td>
                <td><span id="test_email" style="color: red;">
                    {% if form_errors and "email" in form_errors %} {{ form_errors["email"] }} {% end %}
                </span></td>
            </tr>
            <tr>
                <td>昵称</td>
                <td><input  name="f_nick_name" value={% if form_errors and "nick_name" in form_errors %}"
                                                {{ form["nick_name"] }}"
                                                {% end %} required></td>
                <td><span id="test_nick_name" style="color: red;" >
                    {% if form_errors and "nick_name" in form_errors %} {{ form_errors["nick_name"] }} {% end %}
                </span></td>
            </tr>
            <tr>
                <td>密码</td>
                <td><input type="password" name="f_password" required></td>
            </tr>
            <tr>
                <td>重复密码</td>
                <td><input type="password" name="f_password2"  required></td>
                <td><span id="test_password" style="color: red;">
                    {% if form_errors and "password" in form_errors %} {{ form_errors["password"] }} {% end %}
                </span></td>
            </tr>
            <tr>
                <td>验证码</td><td><input  name="f_verify_code" required></td><td><img src="/images/verify-code.png"></td>
                <td><span id="test_verify_code" style="color: red;">
                    {% if form_errors and "verify_code" in form_errors %} {{ form_errors["verify_code"] }} {% end %}
                </span></td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;</td><td><input id="btn_register" type="submit"  value="注册"></td>
            </tr>
        </table>
    </form>
</div>
{% end %}
{% block footer_script %}
<script type="text/javascript">
$(document).ready(function(){
//校验email
$("input[name='f_email']").blur(function () {
    var email = $(this).val();
    var reg = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+$/;
    if(reg.test(email)){
        $("#test_email").html("");
        $.post("/js/user/verify/",{'type':"email",'email': email }, function (r) {
            if(r["result"]=="success"){
                $("#test_email").html(r.message)
            }
            else{
                $("#test_email").html(r.message)
            }
        })
    }
    else{
        $("#test_email").html("邮箱格式有误")
    }
});
//校验nick_name
$("input[name='f_nick_name']").blur(function () {
    var nick_name = $(this).val();
    if(nick_name.length>0){
        $("#test_nick_name").html("");
        $.post("/js/user/verify/",{'type':"nick_name",'nick_name': nick_name }, function (r) {
            if(r["result"]=="success"){
                //$("#test_email").html(r.message)
            }
            else{
                alert(r.message)
                $("#test_nick_name").html(r.message)
            }
        })
    }
    else{
        $("#test_nick_name").html("昵称格式有误")
    }
});
//密码校验
$("#btn_register").click(function () {
    password = $("input[name='f_password']").val()
    password2 = $("input[name='f_password2']").val()
    if(password!=password2){
        $("#test_password").html("两次密码长度不能小于6");
        return false;
    }
    if(password.length<6){
        $("#test_password").html("密码长度不能小于6");
        return false;
    }
    return true
})
});
</script>
{% end %}